.salesChartContainer {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.months {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.month {
  font-weight: bold;
  color: #333;
}
