.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;

  position: sticky;
  top: 0;
  height: 100dvh;
  width: 50px;
  padding: 20px 2px 2px;
  background: #fff;
  border-right: 2px solid var(--border);
}

.logoWrapper {
  padding: 0 6px;
}

.logoWrapper > img {
  max-width: 100%;
  object-fit: cover;
}

.logoDesktop {
  display: none;
}

.label {
  display: none;
}

.logout {
  display: flex;
  align-items: flex-end;
  flex: 1 1 100%;
}

.logout .navItem {
  padding-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .navbar{
    width: 260px;
    row-gap: 0;
  }

  .logoMobile {
    display: none;
  }

  .logoDesktop {
    display: block;
  }
  
  .navlink {
    width: 100%;
    text-decoration: none;
  }
  
  .navlink .navItem {
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 12px;
    padding: 12px;
  }

  [title].navlink {
    border-radius: 8px;
  }

  [title].navlink:hover {
    background: var(--m-desfoque);
  }
  
  .label {
    display: inline-block;
    color: #6b7280;
    font-weight: bolder;
  }

  .active .label {
    color: var(--main);
  }
  
  .logout .navItem {
    width: 100%;
    border-radius: 8px;
  }

  .logout .navItem:hover {
    background: #ff000047;
  }

  .logout .label {
    color: red;
  }
}
