.destaque {
  box-shadow: 0 4px 10px rgba(0,0,0,.06);
  color: #fff;
  border-radius: 16px;
  background: var(--main) url("abstract-bg.png") no-repeat fixed center / cover;
  overflow: hidden;
}

.destaque div {
  height: 100%;
  width: 100%;
  padding: 30px;
  color: #000;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.price {
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
}
