.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  font-weight: bold;
  color: var(--main);
  background: var(--m-desfoque);
  border-radius: 50%;
  object-fit: cover;
}
