.container {
  position: relative;
  display: flex;
  background-color: var(--bg);
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: hidden;
}

.outletContainer {
  display: flex;
  flex: 1;
  padding: 15px;
  overflow-y: hidden;
}

.menu {
  position: sticky;
  top: 0;
}

.outlet {
  flex: 1;
  overflow-y: scroll;
  min-height: 0;
  margin: -15px 0;
}

.outlet::-webkit-scrollbar {
  display: none;
}
