.container {
  position: relative;
  display: flex;
  background-color: var(--bg);
  height: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: hidden;
}

.main .header {
  flex-grow: 0;
  flex-shrink: 0;
}

.outletContainer {
  display: flex;
  height: 100%;
  overflow-y: hidden;
}

.menu {
  flex: 0 1 300px;
  position: sticky;
  top: 0;
}

.outlet {
  flex: 1;
  overflow-y: scroll;
  min-height: 0;
  padding: 15px;
}

.outlet::-webkit-scrollbar {
  display: none;
}
