:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color: #000;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: #D1D5DB;

}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
