:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*
    Paleta de cores
  */
  --bg: #F5EFE6;
  --border: #dcdcdc;
  --main: #D4A373;
  --m-desfoque: #FFEBD2;
  --desfoque: #dcdcdc48;
  --sec: #B37C5F;
  --txt-opaco: #00000062;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body, 
#root {
  height: 100%;
  overflow: hidden;
}

body, #root {
  background-color: var(--bg);
  font-size: 13px;
}

#root {
  margin: 0;
  color: #000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: var(--bg);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  body, #root {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  body, #root {
    font-size: 1rem;
  }
}
