.container {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
    "header header"
    "nav main";

  min-height: 100vh;
  background-color: var(--bg);
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
  background-color: var(--nav-bg);
  padding: 20px;
  border-right: 1px solid var(--border-color);
}

.main {
  grid-area: main;
  padding: 8px;
}