.card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,.06);
  overflow-y: auto;
}

.card header {
  flex-flow: row nowrap;
  gap: 10px;
  padding: 5px 20px;
}

ul.list {
  padding: 0 20px;
}

ul li.member {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

li div.info {
  flex-direction: row;
  gap: 8px;
}

li div.desc {
  align-items: flex-start;
  gap: 0;
}

.role {
  opacity: 0.3;
}

li div.desc p {
  margin: 0;
}

.status.online {
  width: 8px;
  height: 8px;
  background: #22c55e;
  border-radius: 50%;
}

div.footer {
  position: sticky;
  bottom: -1px;

  padding: 0 0 20px 0;
  background: #fff;
  border-radius: 16px;
}

.footer a {
  flex-basis: 100%;
  padding: 8px 12px;
  color: #fff;
  text-decoration: none;
  background: #000;
  border-radius: 8px;
}
